
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Users can read and write to their own user document.
    match /users/{userId} {
      allow read, update: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null;
    }

    // Users can read and write their own diagnosis documents.
    match /diagnoses/{docId} {
      allow read, write: if request.auth != null && request.resource.data.userId == request.auth.uid;
    }

    // Any authenticated user can read and write to the equipment collection for the marketplace.
    match /equipment/{docId} {
      allow read, write: if request.auth != null;
    }
  }
}
